@font-face {
    font-family: 'mainFont';
    src: url('../assets/fonts/SuperFoods-2OxXo.ttf') format('truetype');
  }

  body {
    background-color: #000;
    font-family: mainFont, monospace;
    letter-spacing: 2px;
}